*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background:darkslateblue;
}
form{
    width:40%;
    height:max-content;
    background:white;
    border-radius:7px;
    padding:4px 9px;
}
label{
    padding:4px 5px;
    color:white;
    background:blue;
    color:white;
}
a{
    display:inline-block;
    text-decoration:none;
    padding:8px 40px
}